html {
    background-color: #242424;
}
.index {
    color: #fff;
}
.header {
    margin-top: -60px;
    margin-bottom: 10px;
    position: relative;
    z-index: 500;
}
.header .title {
    margin-left: -50px;
    font-size: medium;
}
.header .title-item {
    margin-left: 20px;
    color: #8e8e8e;
    width: 40px;
    float: left;
}
.header .vux-header {
    background-color: #242424;
}
.header .vux-header .vux-header-title {
    margin: 0 50px;
}
.header .vux-header .vux-header-left {
    left: 3px;
}
.header .title-content {
    margin-top: -2px;
    margin-left: -10px;
}
.header .vux-tab-ink-bar {
    background-color: #eee;
}
.header .vux-tab .vux-tab-item.vux-tab-selected {
    color: #eee;
    border-bottom: 3px solid #eee;
}
.header #searchText {
    background-color: #242424;
    color: #eee;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
.header .submit {
    background: url('../../pic/search.png') no-repeat center;
}
.index {
    width: 100%;
}
.index .vux-tab {
    background-color: #242424;
}
.index .vux-header .vux-header-title {
    height: 50px;
}
.index .wrapper {
    height: 700px;
}
.index .content {
    height: 850px;
}
.index .vux-slider .vux-swiper {
    border-radius: 20px;
}
.index .vux-slider .vux-swiper .vux-swiper-item .vux-img {
    background-size: 100% 100%;
}
.index .other-btn {
    margin: 0 auto;
    margin-top: 20px;
}
.index .other-btn .flexItem {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: #C20C0C;
}
.index .other-btn .flexText {
    margin: 10px auto;
    text-align: center;
    color: #fff;
}
.index .songList {
    margin-top: 20px;
}
.index .songList .weui-cells__title {
    text-align: left;
}
#divider {
    border-width: 0.5px;
    border-color: #8e8e8e;
}
.index .songList .songListTitle {
    text-align: left;
    margin: 10px 0;
}
.index .songList .songListContent {
    float: left;
}
.index .songList .vux-flexbox .vux-flexbox-item {
    margin-bottom: 40px;
}
.index .songList .songListPic {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.index .songList .songLicPic .pic {
    margin: 20px auto;
}
.index .songList .songListName {
    width: 100px;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 5px;
}